---
import Layout from '../layouts/Layout.astro';
import StudyCard from '../components/StudyCard.astro';
import ContactCard from '../components/ContactCard.tsx';
import ExperienceSection from '../components/ExperienceSection.astro';
import SkillButton from '../components/SkillButton';
import ProjectList from '../components/ProjectList';

const { searchParams } = new URL(Astro.request.url);
const language = searchParams.get('lang') || 'en';  
const data = language === 'es' ? await import('../../data_es.json') : await import('../../data.json');
---

<Layout title={language === 'es' ? 'Portafolio de Jose Antonio Vázquez' : 'Jose Antonio Vázquez Portfolio'} data={data}>
  <!-- Contenido de la página -->
  <div class="flex items-center space-x-12 max-w-screen-lg mx-auto">
    <div class="flex-shrink-0 w-1/4">
      <img src="/img/perfil.jpg" alt="Jose Antonio" class="w-full h-auto rounded-full object-cover" />
    </div>
    <div class="flex-grow w-1/2">
      <h1 class="text-4xl font-semibold mb-4">{data.name}</h1>
      <p class="text-lg text-gray-700 mb-6">{data.about}</p>
      <a href="#experiences" class="inline-block bg-blue-500 text-white py-2 px-6 rounded-lg text-lg hover:bg-blue-600 transition-all duration-300">
        {language === 'es' ? 'Experiencias' : 'Experiences'}
      </a>
    </div>
  </div>

  <!-- Sección de Estudios -->
  <section id="studies" class="mt-16 text-center">
    <h2 class="text-3xl font-semibold mb-6">{language === 'es' ? 'ESTUDIOS' : 'STUDIES'}</h2>
    <div class="flex justify-center mb-8">
      <img src="/img/puntos.png" alt="Points" class="w-10 h-10 rounded-full" />
    </div>
    <div class="flex flex-col gap-6">
      {data.studies.map((studies) => (
        <StudyCard 
          title={studies.degree}
          school={studies.university}
          description={studies.description}
          className="p-6 flex flex-col h-64 justify-between"
          imageSrc={studies.image}
        />
      ))}
    </div>
  </section>

  <!-- Sección de Proyectos -->
  <section id="projects" class="mt-16 text-center">
    <h2 class="text-3xl font-semibold mb-6">{language === 'es' ? 'PROYECTOS' : 'PROJECTS'}</h2>
    <div class="flex justify-center mb-8">
      <img src="/img/puntos.png" alt="Points" class="w-10 h-10 rounded-full" />
    </div>
    <div class="flex flex-col gap-6">
      <ProjectList client:only="react"/>
    </div>
  </section>
  
  <!-- Sección de Habilidades -->
  <section id="skills" class="mt-16 text-center">
    <h2 class="text-3xl font-semibold mb-6">
      {language === 'es' ? 'HABILIDADES' : 'SKILLS'}
    </h2>
    <div class="flex justify-center mb-8">
      <img src="/img/puntos.png" alt="Points" class="w-10 h-10 rounded-full" />
    </div>
    <SkillButton client:load initialSkills={[{ name: 'Angular', image: '/img/angular.png' }, { name: 'React', image: '/img/react.png' }, { name: 'PostgreSQL', image: '/img/postgreb.png' }]} />
  </section>

  <!-- Sección de Experiencias -->
  <section id="experiences" class="mt-16 text-center">
    <h2 class="text-3xl font-semibold mb-6">
      {language === 'es' ? 'EXPERIENCIAS' : 'EXPERIENCES'}
    </h2>
    <div class="flex justify-center mb-8">
      <img src="/img/puntos.png" alt="Points" class="w-10 h-10 rounded-full" />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 justify-items-center">
      {data.experiences.map((experience, index) => (
        <div class="flex justify-center w-full">
          <ExperienceSection
            name={experience.name}
            image={experience.image}
          />
        </div>
      ))}
    </div>
  </section>

  <!-- Sección de Contacto -->
  <section id="contact" class="mt-16 text-center">
    <h2 class="text-3xl font-semibold mb-6">
      {language === 'es' ? 'CONTACTO' : 'CONTACT'}
    </h2>
    <div class="flex justify-center mb-8">
      <img src="/img/puntos.png" alt="Points" class="w-10 h-10 rounded-full" />
    </div>
    <div class="flex flex-wrap justify-center gap-8">
      <ContactCard client:only="react" />
    </div>
  </section>
</Layout>
